<html>
<head>
  <title>API Testing</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}"/>
  <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>API TestFramework</h1>
    </div><!--jumbotron-->
  </div><!--container-->

  <div class="container">
    {% for record in data %}
    {{record['name']}}
  <div>

    <span class="label label-success">Results are good</span>
    <br>
</div>
      <button id="bt" type="button" class="btn btn-default" data-trigger="hover" data-container="body"
      data-toggle="popover" data-placement="left" data-content="{{record['name']}}">
        Record Data
      </button>



    {% endfor %}
  </div>

<script>
  $("#bt").popover({ trigger: "hover" });
</script>
<div class="container">

<table class="table table-bordered table-hover">
  <thead>
        <tr>
          <th># of test run</th>
          <th>Result</th>
<!--           <th>Last Name</th>
          <th>Username</th> -->
        </tr>
      </thead>
      <tbody>
          <tr>
        </tr>
      </tbody>
</table>

</div><!--table container-->


</body>
</html>
